.header__left-block{
    display:flex;
    flex-direction:row;
    align-items:center;
    column-gap:5.74vw;
    row-gap:0px;
}


@media  screen and (min-width:1740px;) {
    .header__lef-block{
            column-gap:100px;
    
}
}